# Домашнє завдання до теми "Введення у Pandas та NumPy"

У домашніх завданнях цього модулю ми працюємо з набором даних про продажі в різних магазинах мережі супермаркетів.

## Контекст даних
Зростання супермаркетів у найбільш населених містах збільшується, а конкуренція на ринку також висока. Набір даних є вигрузкою історичних продажів компанії-мережі супермаркетів у 3х різних філіях протягом 3 місяців.

**Ціль:** Цей набір даних може бути використаний для цілей розуміння тенденцій продажів, які товари в якому місті варто продавати, а поставку яких - варто скоротити. На основі цих даних можна оцінити майбутні тенденції продажів, оцінити поведінку споживачів та оптимізувати стратегію продажів.

Ми будемо робити елементи аналізу в цьому напрямі.

## Опис даних

| Назва оригінальна           | Переклад назви             | Опис українською                                                                                       |
|---------------------------|--------------------------|-----------------------------------------------------------------------------------------------------|
| Invoice id                | Ідентифікатор чека       | Комп’ютерно генерований номер ідентифікації чека продажу                                             |
| Branch                    | Філія                    | Філія супермаркету (доступні 3 філії, ідентифіковані як A, B та C)                                     |
| City                      | Місто                    | Місцезнаходження суперцентрів                                                                        |
| Customer type             | Тип клієнта              | Тип клієнтів, зафіксований як Члени для клієнтів, що використовують картку члена, та Звичайні без картки |
| Gender                    | Стать                    | Стать покупця                                                                                       |
| Product line              | Лінійка продуктів        | Загальні групи категоризації товарів - Електронні аксесуари, Модні аксесуари, Їжа та напої, Здоров’я та краса, Дім і стиль життя, Спорт та подорожі |
| Unit price                | Ціна за одиницю          | Ціна кожного продукту в доларах США                                                                  |
| Quantity                  | Кількість                | Кількість продуктів, придбаних клієнтом                                                             |
| Tax                       | Податок                  | 5% податковий збір для покупця                                                                       |
| Total                     | Загальна сума            | Загальна ціна з урахуванням податку                                                                  |
| Date                      | Дата                     | Дата покупки (Дані доступні з січня 2019 по березень 2019)                                           |
| Time                      | Час                      | Час покупки (з 10:00 до 21:00)                                                                       |
| Payment                   | Оплата                   | Метод оплати, використаний клієнтом для покупки (доступні 3 методи – Готівка, Кредитна картка та Електронний гаманець) |
| COGS                      | Собівартість проданих товарів | Собівартість проданих товарів                                                                      |
| Gross margin percentage   | Відсоток валового прибутку | Відсоток валового прибутку                                                                         |
| Gross income              | Валовий дохід            | Валовий дохід                                                                                       |
| Rating                    | Рейтинг                  | Рейтинг задоволення клієнтів від загального досвіду покупок (На шкалі від 1 до 10)                    |


## Робота з даними в рамках завдань цього модулю

Завантажте дані з навчальної платформи собі локально. Як найркаще організувати збереження даних і ноутбуків було наведено в лекції. Якщо Ви працюєте в Colab - то рекомендую або розмістити дані у себе на диску і підключити диск (`Files` -> `Mount Drive`) або перетягнути дані в `Files` на робочу сесію і читати звідти.

Дані ми НЕ заливаємо зазвичай в git, особливо якщо вони більше 10мб - це погана практика. Ліпше залити на гугл диск і дати посилання в репозиторії в readme.md файлі, якщо дані великі. Саме так рекомендую робити для проєктів з портфоліо.

У домашніх завданнях цього модуля особливо важливо **уважно** читати формулювання завдання і всі коментарі. Також у цьому модулі треба по максимуму використовувати функціонал бібліотеки pandas, навіть якщо існують альтернативні способи зробити те саме. Нагадую, що працюючи з pandas ми здебільшого НЕ потребуємо використовувати цикли для створення колонки - для цього є інші, більш загальноприйняті методи, розглянуті в лекції.

1. Імпортуйте бібліотеку pandas в загальноприйнятому форматі.

In [1]:
import numpy as np
import pandas as pd

2. За допомогою бібліотеки Pandas, викликом однієї функції зчитайте набір даних із файлу `supermarket_sales.csv` в змінну `df` типу `pandas.DataFrame`.
Виведіть тип даних змінної `df`.

In [3]:
import os
os.listdir('../data/')

['supermarket_sales.csv']

In [6]:
ls

hw_3_1_Введення_у_Pandas_та_NumPy_.ipynb

In [5]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [7]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df_shape = df.shape

In [21]:
df_shape[0]

1000

3. Виведіть кількість рядків і кількість колонок в наборі даних. Відповідь сформуйте використовуючи fstring у наступному форматі: `Набір даних містить 1000 рядків та 17 колонок`

In [28]:
num_rows = df.shape[0]
num_cols = df.shape[1]
response_string = f"Набір даних містить {num_rows} рядків та {num_cols} колонок"
print(response_string)

Набір даних містить 1000 рядків та 17 колонок

4. Скільки оперативної памʼяті у мегабайтах займає даний набір даних? Обчисліть за допомогою pandas і виведіть на екран.

In [23]:
df.memory_usage()

Index                       128
Invoice ID                 8000
Branch                     8000
City                       8000
Customer type              8000
Gender                     8000
Product line               8000
Unit price                 8000
Quantity                   8000
Tax 5%                     8000
Total                      8000
Date                       8000
Time                       8000
Payment                    8000
cogs                       8000
gross margin percentage    8000
gross income               8000
Rating                     8000
dtype: int64

In [24]:
df.memory_usage().sum()

np.int64(136128)

In [26]:
total_bytes = df.memory_usage().sum()
total_megabytes = total_bytes / (1024 * 1024)
total_megabytes

np.float64(0.12982177734375)

In [27]:
pd.read_csv(data_path, nrows=100)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,594-34-4444,A,Yangon,Normal,Male,Electronic accessories,97.16,1,4.8580,102.0180,3/8/2019,20:38,Ewallet,97.16,4.761905,4.8580,7.2
96,766-85-7061,B,Mandalay,Normal,Male,Health and beauty,87.87,10,43.9350,922.6350,3/29/2019,10:25,Ewallet,878.70,4.761905,43.9350,5.1
97,871-39-9221,C,Naypyitaw,Normal,Female,Electronic accessories,12.45,6,3.7350,78.4350,2/9/2019,13:11,Cash,74.70,4.761905,3.7350,4.1
98,865-92-6136,A,Yangon,Normal,Male,Food and beverages,52.75,3,7.9125,166.1625,3/23/2019,10:16,Ewallet,158.25,4.761905,7.9125,9.3
99,733-01-9107,B,Mandalay,Normal,Male,Home and lifestyle,82.70,6,24.8100,521.0100,3/5/2019,18:14,Cash,496.20,4.761905,24.8100,7.4

**Перше домашнє завдання із Pandas виконано! 🚀✔️**