# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [3]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [4]:
type(df)

pandas.core.frame.DataFrame

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [5]:
df.sort_values(by="Unit price", ascending=False).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
983,148-41-7930,C,Naypyitaw,Normal,Male,Health and beauty,99.96,7,34.986,734.706,1/23/2019,10:33,Cash,699.72,4.761905,34.986,6.1
122,219-22-9386,B,Mandalay,Member,Male,Sports and travel,99.96,9,44.982,944.622,3/9/2019,17:26,Credit card,899.64,4.761905,44.982,4.2
930,641-62-7288,B,Mandalay,Normal,Male,Home and lifestyle,99.92,6,29.976,629.496,3/24/2019,13:33,Ewallet,599.52,4.761905,29.976,7.1
494,437-53-3084,B,Mandalay,Normal,Male,Fashion accessories,99.89,2,9.989,209.769,2/26/2019,11:48,Ewallet,199.78,4.761905,9.989,7.1
283,667-92-0055,A,Yangon,Member,Male,Health and beauty,99.83,6,29.949,628.929,3/4/2019,15:02,Ewallet,598.98,4.761905,29.949,8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів `Electronic accessories`, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [7]:
df.sort_values(by=["Quantity","Unit price"], ascending=[False, False]).head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
350,860-79-0874,C,Naypyitaw,Member,Female,Fashion accessories,99.30,10,49.65,1042.65,2/15/2019,14:53,Credit card,993.0,4.761905,49.65,6.6
167,687-47-8271,A,Yangon,Normal,Male,Fashion accessories,98.98,10,49.49,1039.29,2/8/2019,16:20,Credit card,989.8,4.761905,49.49,8.7
557,283-26-5248,C,Naypyitaw,Member,Female,Food and beverages,98.52,10,49.26,1034.46,1/30/2019,20:23,Ewallet,985.2,4.761905,49.26,4.5
699,751-41-9720,C,Naypyitaw,Normal,Male,Home and lifestyle,97.50,10,48.75,1023.75,1/12/2019,16:18,Ewallet,975.0,4.761905,48.75,8.0
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.69,1022.49,3/2/2019,17:16,Ewallet,973.8,4.761905,48.69,4.4

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу (`Rating`): високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [10]:
df['Rating Category'] = df['Rating'].apply(
    lambda x: 'High' if x >= 8 else ('Medium' if x >= 6 else 'Low')
)
print(df)

      Invoice ID Branch       City Customer type  Gender  \
0    750-67-8428      A     Yangon        Member  Female
1    226-31-3081      C  Naypyitaw        Normal  Female
2    631-41-3108      A     Yangon        Normal    Male
3    123-19-1176      A     Yangon        Member    Male
4    373-73-7910      A     Yangon        Normal    Male
..           ...    ...        ...           ...     ...
995  233-67-5758      C  Naypyitaw        Normal    Male
996  303-96-2227      B   Mandalay        Normal  Female
997  727-02-1313      A     Yangon        Member    Male
998  347-56-2442      A     Yangon        Normal    Male
999  849-09-3807      A     Yangon        Member  Female

               Product line  Unit price  Quantity   Tax 5%      Total  \
0         Health and beauty       74.69         7  26.1415   548.9715
1    Electronic accessories       15.28         5   3.8200    80.2200
2        Home and lifestyle       46.33         7  16.2155   340.5255
3         Health and beauty       58.22         8  23.2880   489.0480
4         Sports and travel       86.31         7  30.2085   634.3785
..                      ...         ...       ...      ...        ...
995       Health and beauty       40.35         1   2.0175    42.3675
996      Home and lifestyle       97.38        10  48.6900  1022.4900
997      Food and beverages       31.84         1   1.5920    33.4320
998      Home and lifestyle       65.82         1   3.2910    69.1110
999     Fashion accessories       88.34         7  30.9190   649.2990

          Date   Time      Payment    cogs  gross margin percentage  \
0     1/5/2019  13:08      Ewallet  522.83                 4.761905
1     3/8/2019  10:29         Cash   76.40                 4.761905
2     3/3/2019  13:23  Credit card  324.31                 4.761905
3    1/27/2019  20:33      Ewallet  465.76                 4.761905
4     2/8/2019  10:37      Ewallet  604.17                 4.761905
..         ...    ...          ...     ...                      ...
995  1/29/2019  13:46      Ewallet   40.35                 4.761905
996   3/2/2019  17:16      Ewallet  973.80                 4.761905
997   2/9/2019  13:22         Cash   31.84                 4.761905
998  2/22/2019  15:33         Cash   65.82                 4.761905
999  2/18/2019  13:28         Cash  618.38                 4.761905

     gross income  Rating Rating Category
0         26.1415     9.1            High
1          3.8200     9.6            High
2         16.2155     7.4          Medium
3         23.2880     8.4            High
4         30.2085     5.3             Low
..            ...     ...             ...
995        2.0175     6.2          Medium
996       48.6900     4.4             Low
997        1.5920     7.7          Medium
998        3.2910     4.1             Low
999       30.9190     6.6          Medium

[1000 rows x 18 columns]

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [13]:
rating_category_percentages = df['Rating Category'].value_counts(normalize=True)
rating_category_percentages

Rating Category
Medium    0.356
High      0.329
Low       0.315
Name: proportion, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [14]:
time = '11:28'

In [16]:
def get_hour(time_str):
    parts = time_str.split(':')
    hour = int(parts[0])
    return hour

In [17]:
hour_extracted = get_hour(time)

print(f"Оригінальний час: {time}")
print(f"Витягнута година: {hour_extracted}")
print(f"Тип даних витягнутої години: {type(hour_extracted)}")

Оригінальний час: 11:28
Витягнута година: 11
Тип даних витягнутої години: <class 'int'>

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [20]:
df['Hour'] = df['Time'].apply(get_hour)
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium,13
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,High,20
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,Low,10

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [22]:
purchases_by_hour = df['Hour'].value_counts().sort_index()
purchases_by_hour

Hour
10    101
11     90
12     89
13    103
14     83
15    102
16     77
17     74
18     93
19    113
20     75
Name: count, dtype: int64

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [23]:
average_total_by_city = df.groupby('City')['Total'].mean()

In [24]:
average_total_by_city

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [28]:
summary_by_city = df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])
summary_by_city.rename(columns={
    'count': 'Кількість покупок',
    'mean': 'Середній чек',
    'min': 'Мінімальний чек',
    'max': 'Максимальний чек'
}, inplace=True)

print("Зведена статистика чеків за містами:")
print(summary_by_city)

Зведена статистика чеків за містами:
           Кількість покупок  Середній чек  Мінімальний чек  Максимальний чек
City
Mandalay                 332    319.872506          18.6375           1022.49
Naypyitaw                328    337.099715          10.6785           1042.65
Yangon                   340    312.354031          12.6945           1039.29

---
## Висновки з показників

**Mandalay:**
* **Середній чек найвищий** серед усіх міст. Це свідчить про те, що клієнти тут схильні витрачати більше за одну покупку.
* **Мінімальний чек також найвищий**, що говорить про відсутність дуже дрібних покупок.
* **Кількість покупок** хоч і невелика, показує, що кожна угода має високу цінність.

**Yangon:**
* Має **найбільшу кількість покупок**, що вказує на високий обсяг транзакцій.
* **Середній чек** знаходиться десь посередині, що є стабільним показником.
* **Діапазон чеків** показує відносну стабільність у сумах покупок.

**Naypyitaw:**
* **Середній чек найнижчий**.
* **Мінімальний та максимальний чеки також найнижчі**, вказуючи на те, що тут здійснюються більш дрібні покупки порівняно з іншими містами.
* **Кількість покупок** показує такий же обсяг транзакцій, як у Mandalay, але з меншою середньою цінністю.

---
## Рекомендації для мережі супермаркетів

### Для **Mandalay** (Високий середній чек):
* **Фокус на високомаржинальних товарах:** Оскільки клієнти тут готові витрачати більше, зосередьтеся на пропозиціях преміум-класу, ексклюзивних продуктах, товарах для дому, делікатесах.
* **Програми лояльності для великих покупок:** Заохочуйте великі чеки додатковими бонусами або знижками при перевищенні певного порогу.
* **Крос-продажі та апселінг:** Навчайте персонал пропонувати додаткові товари або дорожчі аналоги, враховуючи схильність клієнтів до більших витрат.

### Для **Yangon** (Високий обсяг покупок, стабільний середній чек):
* **Оптимізація потоку клієнтів:** Зважаючи на велику кількість транзакцій, важливо забезпечити швидке обслуговування, достатню кількість кас, ефективну організацію торгового простору, щоб уникнути черг та втрати клієнтів.
* **Регулярні акції та знижки:** Підтримуйте високий потік клієнтів через привабливі щоденні пропозиції, акції типу "купи два, отримай третій безкоштовно" на популярні товари.
* **Ефективний мерчандайзинг:** Розміщуйте товари так, щоб стимулювати імпульсивні покупки та збільшувати середній чек.

### Для **Naypyitaw** (Низький середній чек):
* **Фокус на повсякденних товарах та акціях:** Зосередьтеся на товарах першої необхідності, щоденних знижках та акціях на базові продукти, щоб залучити клієнтів, чутливих до ціни.
* **Пропозиції типу "value for money":** Підкреслюйте вигоду та доступність товарів. Можливо, варто розглянути більші упаковки за вигіднішою ціною.
* **Аналіз місцевого ринку:** Глибше дослідіть місцеві переваги та купівельну спроможність. Можливо, варто адаптувати асортимент і цінову політику під особливості цього міста.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [29]:
df.to_csv('res_lecture_3.csv', index=False)

In [30]:
pd.read_csv('res_lecture_3.csv', nrows=5)

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Rating Category,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,High,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,High,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,Medium,13
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,High,20
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,Low,10